/* Блок contacts */
.contacts {
    margin-bottom: 150px;
}

.contacts__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contacts__link {
    display: inline-block;
    width: 50%;
    font-size: 60px;
    line-height: 1;
    color: inherit;
    text-decoration-color: transparent;
}

.contacts__link::before {
    content: '';
    display: block;
    margin-bottom: 15px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
}

.contacts__link-phone {
    background-image: url('../resources/phone.svg');
    background-repeat: no-repeat;
}

.contacts__link-mail {
    background-image: url('../resources/mail.svg');
    background-repeat: no-repeat;
}

.contacts__link.contacts__link-active,
.contacts__link:hover {
    opacity: 0.5;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-decoration-color: currentColor;
}