/* Блок footer */
.footer {
    padding: 62px 0 30px;
    background-color: var(--color-primary);
    color: var(--color-text-inverse);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__nav {
    margin-bottom: 88px;
}

.footer__nav-link.nav__link--active,
.footer__nav-link:hover {
    text-decoration: unset;
}

.footer__copyright {
    font-size: 20px;
    opacity: 0.5;
}