/* Компонент навигации */
.nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 61px;
}

.nav__link {
    font-size: 18px;
    white-space: nowrap;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__link--active.nav__link,
.nav__link:hover {
    opacity: 0.5;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.nav__link:focus-visible {
    opacity: 0.5;
}