/* Адаптивные стили */

/* Планшеты и маленькие десктопы */
@media (max-width: 1023px) {

    .hero__title {
        font-size: 50px;
        max-width: 800px;
    }

    .hero__image-wrapper {
        height: 400px;
    }

    .about__description {
        font-size: 35px;
        max-width: 700px;
    }

    .service-card__image {
        margin-bottom: 15px;
        max-height: 315px;
    }

    .service-card__price {
        font-size: 20px;
    }

    .service-card__title {
        font-size: 25px;
    }

    .feedback__list {
        row-gap: 80px;
    }

    .feedback__item {
        width: 75%;
    }

    .feedback-card__title {
        margin-bottom: 25px;
        font-size: 35px;
    }

    .feedback-card__description {
        font-size: 20px;
    }

    .gallery {
        height: 536px;
    }

    .gallery__title {
        top: 80px;
        left: 50px;
        font-size: 20px;
    }

    .gallery__desription {
        max-width: 50%;
        font-size: 25px;
    }

    .contacts__link {
        font-size: 45px;
    }
}

/* Планшеты */
@media (max-width: 767px) {
    .header__nav {
        display: none;
    }

    .section {
        margin-top: var(--section-gap-tablet);
    }

    .project-card__content {
        flex-direction: column;
    }

    .services {
        padding: 100px 0;
    }

    .service-card__price {
        font-size: 14px;
    }

    .feedback__item {
        width: 100%;
    }

    .feedback__item:last-child:nth-child(2n + 1) {
        width: 100%;
    }

    .gallery__controls {
        bottom: 50%;
        width: 95%;
    }

    .contacts {
        margin: 120px 0 80px;
    }

    .contacts__wrapper {
        gap: 10px;
    }

    .contacts__link {
        font-size: 35px;
    }
}

/* Мобильные устройства */
@media (max-width: 575px) {

    .header {
        padding-bottom: 60px;
    }

    .section {
        margin-top: var(--section-gap-mobile);
    }

    .section__title {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .nav__list {
        column-gap: 30px;
    }

    .nav__link {
        font-size: 12px;
    }

    .hero__title {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .hero__image-wrapper {
        height: 300px;
    }

    .hero__description {
        left: 15px;
        bottom: 15px;
        max-width: 250px;
        font-size: 16px;
    }

    .about__description {
        font-size: 22px;
        margin-top: 0;
    }

    .button {
        padding: 14px 27px;
        font-size: 16px;
    }

    .projects__item:not(:last-child) {
        margin-bottom: 50px;
    }

    .project-card__title,
    .service-card__title {
        font-size: 18px;
    }

    .project-card__link {
        font-size: 16px;
    }

    .projects__button {
        padding: 37px 0;
        font-size: 22px;
    }

    .services {
        padding: 80px 0;
    }

    .services__title {
        margin-bottom: 20px;
    }

    .services__list {
        margin-bottom: 60px;
        row-gap: 60px;
    }

    .services__item {
        width: 100%;
    }

    .service-card__image {
        margin-bottom: 10px;
        max-height: 240px;
    }

    .service-card__title {
        font-size: 18px;
    }

    .services__button {
        padding: 37px 0;
        font-size: 22px;
    }

    .feedback-card__title {
        margin-bottom: 10px;
        font-size: 25px;
    }

    .feedback-card__description {
        font-size: 16px;
    }

    .gallery {
        height: 408px;
    }

    .gallery__title {
        top: 61px;
        left: 12px;
        font-size: 14px;
    }

    .gallery__desription {
        max-width: 90%;
        font-size: 19px;
    }

    .contacts {
        margin: 80px 0;
    }
    .contacts__wrapper {
        flex-wrap: wrap;
        gap: 20px;
    }

    .contacts__link {
        width: 100%;
    }

    .footer {
        padding-top: 30px;
    }

    .footer__nav {
        margin-bottom: 40px;
    }

    .footer__copyright {
        font-size: 13px;
    }
}