/* Адаптивные стили */

/* Планшеты и маленькие десктопы */
@media (max-width: 1023px) {
    .hero__title {
        font-size: 50px;
        max-width: 800px;
    }

    .hero__image-wrapper {
        height: 400px;
    }

    .about__description {
        font-size: 35px;
        max-width: 700px;
    }

    .gallery {
        height: 536px;
    }

    .gallery__title {
        left: 50px;
        max-width: 380px;
        font-size: 25px;
    }

    .contacts__link {
        font-size: 45px;
    }
}

/* Планшеты */
@media (max-width: 767px) {
    .header__nav {
        display: none;
    }

    .section {
        margin-top: var(--section-gap-tablet);
    }

    .project-card__content {
        flex-direction: column;
    }

    .services {
        padding: 100px 0;
    }

    .contacts {
        margin: 120px 0 80px;
    }
}

/* Мобильные устройства */
@media (max-width: 575px) {
    .header {
        padding-bottom: 60px;
    }

    .section {
        margin-top: var(--section-gap-mobile);
    }

    .section__title {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .nav__list {
        column-gap: 30px;
    }

    .nav__link {
        font-size: 12px;
    }

    .hero__title {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .hero__image-wrapper {
        height: 300px;
    }

    .hero__description {
        left: 15px;
        bottom: 15px;
        max-width: 250px;
        font-size: 16px;
    }

    .about__description {
        font-size: 22px;
        margin-top: 0;
    }

    .button {
        padding: 14px 27px;
        font-size: 16px;
    }

    .projects__item:not(:last-child) {
        margin-bottom: 50px;
    }

    .project-card__title,
    .service-card__title {
        font-size: 18px;
    }

    .project-card__link {
        font-size: 16px;
    }

    .projects__button {
        padding: 37px 0;
        font-size: 22px;
    }

    .services {
        padding: 80px 0;
    }

    .services__title {
        margin-bottom: 20px;
    }

    .gallery {
        height: 408px;
    }

    .gallery__title {
        left: 15px;
        max-width: 290px;
        font-size: 19px;
    }

    .contacts {
        margin: 80px 0;
    }

    .contacts__link {
        font-size: 35px;
    }

    .footer {
        padding-top: 30px;
    }

    .footer__nav {
        margin-bottom: 40px;
    }

    .footer__copyright {
        font-size: 13px;
    }
}